/* CUBE */

/* Global */
:root {
  /* spacing */
  --measure: 60ch;
  --ratio: 1.5;
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  /* Colours */
  --accent: #e92438;
  --soft: #f8efde;
  --hard: #231f1e;
}

* {
  box-sizing: border-box;
  padding: 0;
}
html,
body,
header {
  line-height: var(--s1);
  margin: 0;
  max-width: none;
  padding: 0;
}
body {
  margin: var(--s3) auto;
  background-color: var(--soft);
  color: var(--hard);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

article {
  position: relative;
}

article > * {
  padding-bottom: var(--s0);
}

article > p {
  text-align: center;
}

article:after {
  background: var(--hard);
  bottom: 0;
  content: "";
  height: var(--s-3);
  position: absolute;
  width: 100%;
}

img {
  margin: auto;
}

footer {
  text-align: center;
}

footer::before {
  content: "\220e";
  display: block;
  padding-bottom: var(--s-1);
}

/* Composition */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 80vw;
}

/* Utility */

/* Block */

/* Exception */
